<!DOCTYPE html>
<html>
<head>
	<script src="../../../events/EventEmitter.js"></script>
	<script src="../../core/script.js"></script>
	<script src="../../core/Dom/script.js"></script>
	<script src="./script.js"></script>
</head>
<body>

<h1>Example: Image component</h1>

<button id="btnPreloadShow">Preload and show</button>
<button id="btnShow">Just show</button>
<input type="checkbox" id="broken"> Force error

<div id="workspace"></div>

<script type="text/javascript">

(function () {
	var workspace = document.getElementById('workspace');
	var url = 'http://www.solstation.com/stars/earth3am.jpg';
	var img;

	function getUrl() {
		if (document.getElementById('broken').checked) {
			return 'http://www.example.com/foobar';
		}

		return url + '?' + Date.now();
	}

	document.getElementById('btnPreloadShow').onclick = function () {
		if (img) {
			img.destroy();
		}

		img = new window.wui.components.Image(getUrl());

		img.load(function (error) {
			if (error) {
				window.alert('Error loading the image');
			} else {
				workspace.appendChild(img.rootElement);
			}
		});
	};

	document.getElementById('btnShow').onclick = function () {
		if (img) {
			img.destroy();
		}

		img = new window.wui.components.Image(getUrl());

		img.load();

		workspace.appendChild(img.rootElement);
	};
}());

</script>

</body>
</html>
